.admin_container {
  max-width: 1000px;
  margin: 0px auto;
}

.dashboard {
  float: left;
  width: 100%;
}

.dashboard .side_bar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c0c0c0;
  transition: 0.5s;
  padding-top: 60px;
  transform: translateX(-100%);
}

.side_bar.test {
  transform: translateX(0%);
}

.side_bar .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  color: #232323;
  cursor: pointer;
}

.dashboard_buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #232323;
  padding-left: 20px;
}
.dashboard_buttons a {
  text-decoration: none;
  color: #232323;
}
.dashboard_buttons .btn {
  font-size: 18px;
  margin-bottom: 15px;
  cursor: pointer;
}

.dashboard_buttons .active {
  border-left: 2px solid #232323;
  padding-left: 5px;
}

.dashboard .content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.dashboard .content .body {
  margin-bottom: 30px;
}
.admin_header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  border-bottom: 1px solid rgb(217, 218, 225);
  padding: 13px 0px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  background-color: #c0c0c0 !important;
}
.sidebar-btn {
  position: absolute;
  content: "";
  left: 15px;
  cursor: pointer;
  font-size: 25px;
  color: #252525;
}

.admin_header-bar .admin_page_logo a {
  font-size: 36px;
  color: #232323;
  text-decoration: none;
  font-weight: bold;
}

.footer-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  border-bottom: 1px solid rgb(217, 218, 225);
  border-top: 1px solid rgb(217, 218, 225);
  padding: 13px 0px;
  color: rgb(33, 34, 48);
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
  width: 100%;
  background-color: #c0c0c0 !important;
  margin-top: auto;
}

.side_bar_logo {
  display: flex;
  width: 100%;
  font-size: 23px;
  font-weight: 600;
  color: #232323;
  padding-left: 20px;
  margin-bottom: 17px;
}

/*purchase_product_history start*/
.purchase_product_history {
  float: left;
  width: 100%;
  background-color: white;
  height: 100vh;
}
.purchase_product_history .purchase_product_history_table {
  float: left;
  width: 100%;
}

.purchase_product_history .purchase_product_history_table > strong {
  color: #232323;
  font-size: 25px;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.my_custom_scrollbar {
  position: relative;
  width: 100%;
  overflow: auto;
}
.table_wrapper_scroll_x {
  display: block;
  z-index: 0;
}
table {
  width: 100%;
  margin-bottom: 15px;
  table-layout: auto;
  border-collapse: unset;
}

table tr th {
  background-color: #c0c0c0;
  align-items: center;
  text-align: center;
  color: #232323;
  font-size: 17px;
  padding: 10px 10px;
}

table tr td {
  background-color: #c0c0c0;
  align-items: center;
  text-align: center;
  color: #232323;
  font-size: 17px;
  padding: 10px 10px;
}
table tr td a {
  text-decoration: none;
  color: #252525;
}
table tr td .admin_page_product_img {
  width: 50px;
}
table tr td .admin_size_selection {
  width: 50px;
}
table tr td .admin_size_selection option {
  background-color: #fff;
  color: #232323;
}

#purchase_product_history {
  display: block;
  visibility: visible;
}

#contact_history {
  display: none;
  visibility: hidden;
}

#all_product_listing {
  display: none;
  visibility: hidden;
}

#all_raffle_product_listing {
  display: none;
  visibility: hidden;
}
/*purchase_product_history end*/

/* add new product start */

#admin_edit_new_product {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #c0c0c0;
  padding: 20px 0px;
  display: none;
}
.cancle_edit_product_page {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 15px;
}
.cancle_edit_product_page a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  gap: 5px 0px;
}
.add_product_container {
  max-width: 500px;
  margin: 0 auto;
}

#add_new_product {
  display: none;
  visibility: hidden;
}
.profile_section {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.profile_section .profile_section_data {
  float: left;
  width: 100%;
  padding: 0px 10px;
}
.profile_section .profile_section_data h2 {
  float: left;
  width: 100%;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
  text-align: center;
}
.profile_section .profile_section_data form .profile_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile_section .profile_section_data form .profile_form .profile_section_one {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
  gap: 21px 0px;
}
.profile_section
  .profile_section_data
  form
  .profile_form
  .profile_section_one
  figure {
  width: 100%;
  text-align: center;
}
.profile_section
  .profile_section_data
  form
  .profile_form
  .profile_section_one
  figure
  img {
  width: 50%;
  height: 100px;
}

.profile_section_two .profile_name {
  margin-bottom: 30px;
}
.profile_section_two .profile_name label {
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  color: #232323;
  padding-bottom: 10px;
  display: block;
}
.profile_section_two .profile_name input {
  border: 2px solid #d8d8d8;
  outline: none;
  background-color: #ffffff;
  padding: 10px 10px;
  width: 100%;
}

.profile_section_two .profile_name select {
  border: 2px solid #d8d8d8;
  outline: none;
  background-color: #ffffff;
  padding: 10px 10px;
  width: 100%;
}
.profile_section_two .profile_name textarea {
  border: 2px solid #d8d8d8;
  outline: none;
  background-color: #ffffff;
  padding: 10px 10px;
  width: 100%;
}
.product_size_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 10px;
}
.size_check_box {
  display: flex;
  gap: 0px 5px;
  align-items: center;
}
.profile_section_two .profile_name .size_check_box label {
  padding: 0px;
}
.profile_section_two .profile_name .size_check_box input {
  border: 2px solid #d8d8d8;
  outline: none;
  background-color: #ffffff;
  padding: 10px 10px;
  width: unset;
}

.profile_section_two .profile_name .profile_phone {
  display: flex;
}
.profile_section_two .profile_name .profile_phone select {
  border: 2px solid #d8d8d8;
  border-right-color: rgb(216, 216, 216);
  border-right-style: solid;
  border-right-width: 2px;
  outline: none;
  background-color: #ffffff;
  padding: 10px 10px;
  border-right: none;
}
.profile_section_two .border_bottom {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 30px;
}
.profile_save_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profile_save_btn button {
  color: #ffffff;
  background-color: #007991;
  border-color: #007991;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 16px;
  height: 40px;
  font-weight: 900;
  border-radius: 2px;
  width: 35%;
}

/*RESPONSIVE*/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard .side_bar {
    width: 33%;
  }
  .dashboard_window .dashboard_form strong {
    padding-left: 15px;
  }
  .list_selecter {
    padding-left: 15px;
  }

  .dashboard_window .dashboard_form .back_to_dashboard a {
    margin-right: 15px;
  }
}

/*mobile rotation*/
@media (max-width: 767px) {
  .dashboard .side_bar {
    width: 33%;
  }
  .dashboard_window .dashboard_form strong {
    padding-left: 15px;
  }
  .list_selecter {
    padding-left: 15px;
  }

  .dashboard_window .dashboard_form .back_to_dashboard a {
    margin-right: 15px;
  }
}

/*mobile*/
@media (max-width: 540px) {
  .dashboard_window .dashboard_form strong {
    text-align: center;
  }
  .show_product {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .list_selecter {
    width: 100%;
    text-align: center;
  }

  .dashboard .side_bar {
    height: 100%;
    width: 100%;
  }

  .dashboard_window .dashboard_form .back_to_dashboard > strong {
    font-size: 16px;
  }
  #produt-detail {
    flex-direction: column;
  }
  #produt-detail figure {
    text-align: center;
    margin-bottom: 10px;
  }
  #produt-detail .detail .price-box {
    flex-direction: column;
  }
}
